.hyperspeed-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

.hyperspeed-container canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
}